<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
    <!--<a href="{{ url_for('views.generate_monthly_reports') }}"> Generate Report</a>-->


</head>
<body>
  <h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
  </h1>
  <header>
    <div class="menu-btn" onclick="toggleMenu()">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>

    </div>
    <nav class="menu">
      <ul>
        <li>
          <li><a href="{{ url_for('auth.sign_out') }}">Sign Out</a></li>
          <li><a href="{{ url_for('views.dashboard') }}">Dashboard</a></li>
          <li><a href="{{ url_for('views.income_expense') }}">Income and Expenses</a></li>
          <li><a href="{{ url_for('views.monthly_report') }}">Monthly Report</a></li>
      
  
        </li>
      </ul>
    </nav>
    <script>function toggleMenu() {
      var menu = document.querySelector('.menu');
      menu.classList.toggle('active'); 
  }</script>
      
  </header>
    <h2>Welcome, {{ user.first_name }}</h2>
    <div class="rex">
    <div>
    <h3>Income</h3>
    <ul>
        {% for income_entry in user.income_entries %}
            <li>{{ income_entry.amount }} - {{ income_entry.category }} - {{ income_entry.date }}</li>
        {% endfor %}
    </ul>
    </div>
    <div>
    <h3>Expenses</h3>
    <ul>
        {% for expense_entry in user.expense_entries %}
            <li>{{ expense_entry.amount }} - {{ expense_entry.category }} - {{ expense_entry.date }}</li>
        {% endfor %}
    </ul>
  </div>
    <div>
    <h3>Budget</h3>
    <ul>
        {% for budget_entry in user.budget_entries %}
            <li>{{ budget_entry.amount }} - {{ budget_entry.category }}</li>
        {% endfor %}
    </ul>
  </div>
  </div>

</body>
</html>
