
.rex{
    display:flex;
    gap: 3em;
    margin-left: 50px;
}

/* header{
    box-sizing: border-box;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
}

header li a button{
    font-weight: 500;
    font-size: 160x;
    text-decoration: none;
}

.nav_links {
    list-style: none;
    justify-content: space-between;
}

.nav_links li {
    display: inline-block;
    padding: 0 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    transition: all 0.3s ease 0s;
    color: rgb(17, 107, 143);
}

.navbar-header button{
    margin-left: 20px;
    padding: 9px 25px;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
}

.navbar-header button:hover{
    background-color: rgba(17, 107, 143,0.877);
}

.navbar-header h1{
    cursor: pointer;
    margin-right: auto;
} */