@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*{
    /* margin: 0;
    padding: 0;
    box-sizing: border-box; */
    font-family: 'Poppins', sans-serif;
}

/* Styles for body */
body {
    background-color: #dfe9f5;
}
.container{
    margin-top: 150px;
}
.wrapper{
    width: 330px;
    padding: 2rem 1rem;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.rex{
    display: flex;
    gap: 3.5em;
}

/* Styles for headings */
h1 {
    font-size: 2rem;
    color: #07001f; /* Dark text color */
    margin-bottom: 1.2rem;
    font-weight: bold;
}
#title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: rgb(17, 107, 143);
    font-weight: normal;
}


/* Styles for links */
a {
    color: rgb(17, 107, 143);
    text-decoration: none;
}


/* Styles for forms */
form input {
     width: 92%;
    outline:none;
    border:1px solid #fff;
    padding: 12px 20px;
    margin-bottom: 10px ;
    border-radius: 20px;
    background: #e4e4e4;
}

label {
    display: block;
    margin-bottom: 5px;
}

.text-entry{
    display: flex;
    gap: 0.5rem;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc; /* Light grey border */
    border-radius: 10px;
    box-sizing: border-box;
}

button {
   background-color: rgb(17, 107, 143);
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
} 

button:hover {
    background: rgba(17, 107, 143, 0.877); /* Slightly transparent navy blue button color on hover*/
}

input:focus{
    border: 1px solid rgb(192, 192, 192);
}

.terms{
    margin-top: 0.2rem;
}

.terms input{
    height: 1em;
    width: 1em;
    vertical-align: middle;
    cursor: pointer;
}

.terms label{
    font-size: 0.7rem;
}

.terms a{
    color:rgb(17, 107, 143);
    text-decoration: none;
}

.member{
    font-size: 0.8rem;
    margin-top: 1.4rem;
    color: #636363;
}

.member a {
    color: rgb(17, 107, 143);
    text-decoration: none;
}

/* Styles for lists */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

/* Styles for alerts */
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    color: #3c763d; /* Green success alert text color */
    background-color: #dff0d8; /* Light green success alert background color */
    border-color: #d6e9c6; /* Light green success alert border color */
}

.alert-danger {
    color: #a94442; /* Red danger alert text color */
    background-color: #f2dede; /* Light red danger alert background color */
    border-color: #ebccd1; /* Light red danger alert border color */
}


<<<<<<< HEAD
/* menu button*/
.menu-btn {
    display: none;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
}

.menu {
    display: block;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu li {
    display: inline-block;
    margin-right: 20px;
}



@media screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }

    .menu-btn {
        display: block;
    }

    .menu {
        display: none;
    }

    .menu.active {
        display: block;
    }
    
=======
#budget{
    width: auto;
    justify-content: space-around;
>>>>>>> 5acd380b7436c2867e3b8b6070d8ab4d46724af3
}

#income, #expense {
    width: 40%;
}

#entries{
    width:35%;
}
